.navigation{
    width: 100%;
    height: 80px;
    position: relative;
    background-color: white;
    box-shadow: 0px 1px 2px #999;
}

.navigation-wrapper{
    width: 80%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}    

.menu-logo{
    display: inline-block;
    width: 20%;
    margin-left: -10%;
    margin-top: 5px;
    float: left;
}
    .menu-logo h2 {
        font-weight: 300;
        text-transform: uppercase;
    }

	.menu-logo img {
		width: 80px;
   		height: 80px;
	}

.menu-item-wrapper{
    margin-right: -10%;
}
    .menu-list-item{
        margin-top: 10px;
        margin-right: 5%;
        float: right;
    }
        .menu-list-item a{
            text-decoration: none;
            color: #000;
        }
            .menu-list-item h3{
                font-weight: 300;
                text-transform: uppercase;
            } 

.fixed{
    position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      background-color: black;
    /*z-index: 100000;*/
}


/*Media Queries*/

//Retina
@media only screen and (min-width : 320px){
    // LANDING-PAGE
    .landing-wrapper {
        height: 40vh;
        background-image: url(../images/28H.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: -1;
    }
        .landing-wrapper img {
            max-width: 550px;
            width: 40%;
            margin-top: 0;
            z-index: 1;
    }

    .navigation {
        background-color: blue;
        width: 100%;
        height: 200px;
        position: relative;
        box-shadow: 0px 1px 2px #999;
    }
    .menu-logo{
            display: inline-block;
            width: 40%;
            margin-left: -5%;
            margin-top: 5px;
            float: left;
        }
            .menu-logo h2 {
                font-weight: 300;
                text-transform: uppercase;
            }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    .navigation {
        background-color: green;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    // NAVIGATION
    .navigation {
            background-color: red;
        }
        .menu-logo{
            display: inline-block;
            width: 20%;
            margin-left: -10%;
            margin-top: 5px;
            float: left;
        }
            .menu-logo h2 {
                font-weight: 300;
                text-transform: uppercase;
            }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    //LANDING-PAGE
    .landing-wrapper {
        height: 100vh;
        background-image: url(../images/28H.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: -1;
    }
    .landing-wrapper img {
            max-width: 450px;
            width: 40%;
            margin-top: -10%;
            z-index: 1;
    }
    .navigation {
        background-color: purple;
        width: 100%;
        height: 80px;
        position: relative;
        box-shadow: 0px 1px 2px #999;
    }
}   

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .navigation {
        background-color: white;
    }
}   

